<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{$Think.lang.index}</title>
</head>
<body>
    <!-- Header Begin -->
    {include file="common/head" /}
    <!-- Header End -->

    <!-- Content Begin -->
    <!-- Content End -->

    <!-- Foot Begin -->
    {include file="common/foot" /}
    <!-- Foot End -->
</body>
</html>