<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="render" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>留学专业_美国_长春留学中介 美国留学 英国留学 澳加留学申请 欧洲留学 日韩留学</title>
    <!-- 引入外部css文件 -->
    {css href="/static/css/master.css" }
    <!-- 引入外部js文件 -->
    {js href="/static/js/jquery.min.js" }
    {js href="/static/js/jquery.bxslider.js" }
    {js href="/static/js/jquery.tab.js" }
</head>
<body>
    <!-- Logo Bingin -->
    <div class="logo_box">
    </div>
    <!-- Logo End -->

    <!-- Navigation Begin -->
    <div class="nav_wrapper_box">
        <ul class="main_nav_box">
            <li>
                <a target="_blank" class="n_home main_nav_l" href="{:url('index/index')}">首页</a>
            </li>

            <!-- 新闻中心 -->
            <li>
                <a target="_blank" class="main_nav_l" href="javascript:;">新闻中心</a>
                <ul class="sub_nav_box s_s_02">

                </ul>
            </li>

            <!-- 关于我们  -->
            <li>
                <a target="_blank" class="main_nav_l" href="{:url('about/index')}">关于我们</a>
                <ul class="sub_nav_box s_s_02">
                    <li><a target="_blank" href="{:url('about/index?id=1')}">公司简介</a></li>
                    <li><a target="_blank" href="{:url('about/index?id=2')}">公司优势</a></li>
                    <li><a target="_blank" href="{:url('about/consultant')}">顾问风采</a></li>
                    <li><a target="_blank" href="{:url('about/index?id=3')}">联系我们</a></li>
                </ul>
            </li>
        </ul>

        <!-- 导航栏效果 -->
        <script type="text/javascript">
            $(".sub_nav_list li:last-child").css("border-right", "none");

            $(".main_nav_box li").hover(function () {
                var _this = $(this);
                _this.find(".sub_nav_box").stop(true, true).slideDown();
            },
            function () {
                var _this = $(this);
                _this.find(".sub_nav_box").hide();
            });
        </script>
    </div>
    <!-- Navigation End -->

</body>
</html>